language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

script:
   - mvn -Ddocker.keepContainer clean verify

after_success:
  - if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then Dockerfile/create.sh; fi